# File: backend/requirements.txt

fastapi
uvicorn
gunicorn
python-dotenv
langchain
langchain-groq
langchain-huggingface
faiss-cpu
python-multipart
pypdf
python-docx
sentence-transformers
torch
pandas      
openpyxl   